java:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  readinessDelay: 45
  keyVaults:
    sscs:
      secrets:
        - name: idam-api
          alias: idam.url
        - name: idam-oauth-user
          alias: idam.oauth2.client.id
        - name: idam-redirect
          alias: idam.oauth2.redirectUrl
        - name: idam-sscs-systemupdate-user
          alias: idam.oauth2.user.email
        - name: idam-sscs-systemupdate-password
          alias: idam.oauth2.user.password
        - sscs-email-mac-secret-text
        - name: idam-sscs-oauth2-client-secret
          alias: IDAM_OAUTH2_CLIENT_SECRET
        - name: sscs-s2s-secret
          alias: IDAM_S2S_AUTH_TOTP_SECRET
        - name: s2s-micro
          alias: IDAM_S2S_AUTH_MICROSERVICES
        - name: evidence-share-topic-shared-access-key
          alias: AMQP_PASSWORD
        - name: docmosis-api-key
          alias: PDF_SERVICE_ACCESS_KEY
        - name: notification-key
          alias: NOTIFICATION_API_KEY
        - name: notification-test-key
          alias: NOTIFICATION_API_TEST_KEY
        - name: tya-notif-POSTGRES-PASS-FLEX-V15
          alias: JOB_SCHEDULER_DB_PASSWORD
        - name: app-insights-connection-string
          alias: app-insights-connection-string
        - name: sscs-email-mac-secret-text
          alias: subscription.hmac.secret.text
        - name: AppInsightsInstrumentationKey
          alias: azure.application-insights.instrumentation-key
  environment:
    CORE_CASE_DATA_CASE_TYPE_ID: Benefit-3806
    COH_URL: "http://coh-cor-aat.service.core-compute-aat.internal"
    ONLINE_HEARING_LINK: "https://sscs-cor-frontend-aat.service.core-compute-aat.internal"
    SUBSCRIPTION_NAME: "sscs-notifications-subscription-aat"
    TOPIC_NAME: "sscs-evidenceshare-topic-aat"
    AMQP_HOST: "sscs-servicebus-aat.servicebus.windows.net"
    AMQP_USERNAME: "SendAndListenSharedAccessKey"
    JOB_SCHEDULER_DB_PASSWORD:  "{{ .Values.postgresql.auth.password}}"
    JOB_SCHEDULER_DB_USERNAME: "{{ .Values.postgresql.auth.username}}"
    JOB_SCHEDULER_DB_NAME: "{{ .Values.postgresql.auth.database}}"
    JOB_SCHEDULER_DB_HOST: "{{ .Release.Name }}-postgresql"
    JOB_SCHEDULER_DB_CONNECTION_OPTIONS: ""
    HOURS_START_TIME: 0
    HOURS_END_TIME: 23
    RUN_DB_MIGRATION_ON_STARTUP: true
    TEST_RECIPIENTS_POSTCODE: "*"
  postgresql:
    enabled: true
